
@font-face{ src: url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
font-family: 'PT Sans', sans-serif;

}

*{
  box-sizing: border-box;
}

body{
  color: #0B1942;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  width: 100vw;
}

.navbar{
  height: 114px;
  background-color: #7DDFE8;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.logo-box{
  position: absolute;
  margin: 0;
  height: 114px;
  width: 102px;
  background-color: #f5005B;
}

.logo{
  flex: 1 1 auto;
  position: absolute;
  background-color: #F5005B;
  background-position: top;
  height: 92px;
  width: 82px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 14px;
  margin-left: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/filmclub.png');
}

ul{
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  padding-left: 102px;
  text-decoration: none;
  flex: 1 1 73%;
}

li{
  background-color: #00A5BF;
  height: 38px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 102px;
  color: #FFF;
  line-height: 38px;
}

li>a{
  color: #FFF;
  text-decoration: none;
  padding-left: 102px;
}
footer li>a{
  padding-left: 0;

}

ul:first-child, ul:nth-child(3){
  margin: 0;
}

li:nth-of-type(2){
  background-color: #00B7D3;
}
li:nth-of-type(3){
  background-color: #00D5E7;
}


h1, h3{
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
  font-weight: lighter;
  padding: 3.52vh 7.8125vw;
  color: #0B1942;
  margin: 0;
}

.month{
  background-color: #0B1942;
  width: 100vw;
  /*padding-bottom: 5.63vh;*/
}

.month>h3{
color: #FFF;
margin: 1px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /*height: 256px;*/
  border: 0.3125vw solid #0B1942;
  padding-bottom: 5.63vh;
}

.day{
  height: 47px;
  /*width: auto;*/
  background-color: #FFF;
  margin: 1px;
  /*flex-basis: 13.65%;*/
  flex: 0 0 13.65%;
}

.num{
  height: 4.577vh;
  width: 8.125vw;
  margin: 0;
  padding: 0;
  background-color: #0B1942;
  color: #FFF;
  font-weight: bolder;
  text-align: center;
  line-height: 4.577vh;
}

.day-block>.last-row{

}

.highlight{
  background-color: #F5005B;
}

footer{
  background-color: #7DDFE8;
  color: #FFF;
  text-align: center;
  height: 70px;
}

footer>p{
    margin: 0;
    font-size: 18px;
    line-height: 70px;
}

@media (min-width: 545px) {
  ul{
    flex-flow: row nowrap;
  }
  li{
    height: 114px;
    width: 102px;
    padding-left: 0;
  }

  li>a{
    padding-left: 0;
    line-height: 114px;
  }

  .lower-pg ul{
    padding-left: 0;
  }

footer>ul{
  padding-left: 0;
}

  footer{

    text-align: center;
    height: 114px;
  }

  footer>p{
      margin: 0;
      font-size: 18px;
      line-height: 114px;
  }
}

@media (min-width: 769px) {

}
