
@font-face{ src: url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
font-family: 'PT Sans', sans-serif;

}

*{
  box-sizing: border-box;
}

body{
  color: #0B1942;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  width: 100vw;
}

.navbar{
  /*height: 114px;*/
  background-color: #7DDFE8;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.logo-box{
  /*display: flex;*/
  /*flex-flow: row nowrap;*/
  /*justify-content: center;*/
  position: absolute;
  margin: 0;
  height: 20.08vh;
  width: 31.88vw;
  background-color: #f5005B;
}

.logo{
  /*flex: 1 1 30%;*/
  position: absolute;
  background-color: #F5005B;
  background-position: top;
  height: 16.2vh;
  width: 25.63vw;
  margin-top: 1.75vh;
  margin-right: 3.13vw;
  margin-bottom: 2.46vh;
  margin-left: 2.5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/filmclub.png');
}

ul{
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  text-decoration: none;
  flex: 1 1 73%;
}

/*ul:first-of-type, ul:nth-of-type(3){
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  padding: 0;
  text-decoration: none;
}*/

li{
  background-color: #00A5BF;
  height: 6.69vh;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #FFF;
  line-height: 6.69vh;
}

li>a{
  color: #FFF;
  text-decoration: none;
  /*margin: auto;*/
  /*line-height: 38px;*/
  /*text-align: center;*/
  padding-left: 25.63vw;
}
.lower-pg li>a{
  padding-left: 0;
  /*width: 100vw;*/
  /*margin: 0;*/
}

ul:first-child, ul:nth-child(3){
  margin: 0;
}

li:nth-of-type(2){
  background-color: #00B7D3;
}
li:nth-of-type(3){
  background-color: #00D5E7;
}


h1, h3{
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
  font-weight: lighter;
  padding: 3.52vh 7.8125vw;
  color: #0B1942;
  margin: 0;
}

.month{
  background-color: #0B1942;
  width: 100vw;
  /*padding-bottom: 5.63vh;*/
}

.month>h3{
color: #FFF;
margin: 1px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /*height: 256px;*/
  border: 0.3125vw solid #0B1942;
  padding-bottom: 5.63vh;
}

.day{
  height: 8.27vh;
  /*width: auto;*/
  background-color: #FFF;
  margin: 1px;
  flex-basis: 13.65%;
  /*flex: 1 1 13%;*/
}

.num{
  height: 4.577vh;
  width: 8.125vw;
  margin: 0;
  padding: 0;
  background-color: #0B1942;
  color: #FFF;
  font-weight: bolder;
  text-align: center;
  line-height: 4.577vh;
}

.day-block>.last-row{

}

.highlight{
  background-color: #F5005B;
}

footer{
  background-color: #7DDFE8;
  color: #FFF;
  text-align: center;
  height: 70px;
}

footer>p{
    margin: 0;
    font-size: 18px;
    line-height: 70px;
}

@media (min-width: 545px) {

}

@media (min-width: 769px) {

}
