@font-face{ src: url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
font-family: 'PT Sans', sans-serif;
}

*{
  box-sizing: border-box;
}

body{
  color: #0B1942;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  width: 100vw;
}

.navbar{
  /*height: 114px;*/
  background-color: #7DDFE8;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.logo-box{
  /*display: flex;*/
  /*flex-flow: row nowrap;*/
  /*justify-content: center;*/
  margin: 0;
  position: absolute;
  height: 20.08vh;
  width: 31.88vw;
  background-color: #f5005B;
}

.logo{
  /*flex: 1 1 30%;*/
  position: absolute;
  background-color: #F5005B;
  background-position: top;
  height: 16.2vh;
  width: 25.63vw;
  margin-top: 1.75vh;
  margin-right: 3.13vw;
  margin-bottom: 2.46vh;
  margin-left: 2.5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/filmclub.png');
}

ul:first-of-type, ul:nth-of-type(3){
  /*display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;*/
}

ul{
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  text-decoration: none;
  flex: 1 1 73%;
}
li{
  background-color: #00A5BF;
  height: 6.69vh;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #FFF;
  line-height: 6.69vh;
}

li>a{
  color: #FFF;
  text-decoration: none;
  /*line-height: 38px;*/
  /*text-align: center;*/
  padding-left: 25.63vw;

}

.lower-pg li>a{
  padding-left: 0;
  /*width: 100vw;*/
  /*margin: 0;*/
}

ul:first-child, ul:nth-child(3){
  margin: 0;
}

li:nth-of-type(2){
  background-color: #00B7D3;
}
li:nth-of-type(3){
  background-color: #00D5E7;
}

p{
  font-family: 'PT Sans', sans-serif;
  font-size: 11px;
  line-height: 1.9;
}
section{
  text-align: left;
  margin: 22px;
}

.hz-blue-heading{
  background-color: #0B1942;
  color: #FFF;
  height: 35px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
section:nth-child(3){
  margin: 0;
}
.big-blue-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background: #0B1942;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 28px;
}

.big-blue-box>h2{
  margin-top: 3.2vh;
  margin-bottom: 0.5vh;
  margin-left: 5vh;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 36px;
}

.white-box{
  background-color: #E2E2E2;
  width: 91vw;
  height: 48vh;
  margin: 4.688vw;
  flex: 1 1 100%;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.rashomon{
  z-index: 2;
  margin: 0;
  flex: 1 1 48%;
}

.rashomon>img{
  height: 35vh;
  width: 37vw;
  padding: 0;
  margin: 0 5vw;
  margin-top: 0;
  margin-bottom: 7vw;
}
.film-info{
  /*z-index: 2;*/
  /*color: #00B7D3;*/
  flex: 1 1 48%;
}

h3{
  margin: 0;
}

h3>a{
  color: #00B7D3;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 22px;
  line-height: 0;
}


.film-info>p{
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #0B1942;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hz-line{
  border-bottom: 1px solid #0B1942;
  margin-right: 25px;
}

.film-info>ul{
  height: 18vh;
}

hr{
margin: 15px 0;
margin-right: 20px;
color: #0B1942;
}
.white-box>ul{
  width: 44vw;
}

#disc{
  list-style: circle;
  color: #0B1942;
  background-color: inherit;
  font-family: 'PT Sans', sans-serif;
  margin-left: 25px;
  font-size: 14px;
  font-weight: lighter;
  /*height: 38px;*/
  width: 36vw;
  text-align: inherit;
  line-height: 0;
}

.upcoming-films{
  background-color: #E2E2E2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 3.688vw;
  padding: 0;
  color: #000;
}

.pic img{
  /*flex-basis: 45%;*/
  margin: 8px;
  /*width: 46%;*/
  height: 32vh;
}

section:nth-of-type(3){
  margin: 0;
}

figcaption>a{
  color: #00B7D3;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 11px;
  margin: 0;
  /*margin-left: 10px;*/
}

figcaption{
  color: ##0B1942;
  font-family: 'PT Sans', sans-serif;
  /*font-weight: lighter;*/
  font-size: 11px;
  margin-left: 10px;
  line-height: 1.8px;
}

footer{
  background-color: #7DDFE8;
  color: #FFF;
  text-align: center;
  height: 70px;
  text-align: center;
}

footer>p{
    margin: 0;
    font-size: 18px;
    line-height: 70px;
}
