@font-face{ src: url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
font-family: 'PT Sans', sans-serif;

}

*{
  box-sizing: border-box;
}

body{
  color: #0B1942;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  width: 100vw;
}

.navbar{
  /*height: 114px;*/
  background-color: #7DDFE8
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.logo-box{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 114px;
  width: 102px;
  background-color: #f5005B;
}

.logo{
  flex: 1 1 30%;
  background-color: #F5005B;
  background-position: top;
  height: 92px;
  width: 82px;
  margin-top: 6px;
  margin-right: 10px;
  margin-bottom: 14px;
  margin-left: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/filmclub.png');
}

ul:first-of-type, ul:nth-of-type(3){
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li{
  background-color: #00A5BF;
  height: 38px;
  width: 100vw;
  text-align: center;
}

li a{
  color: #FFF;
  text-decoration: none;
  line-height: 38px;
  text-align: center;
}

li:nth-of-type(2){
  background-color: #00B7D3;
}
li:nth-of-type(3){
  background-color: #00D5E7;
}

p{
  font-family: 'PT Sans', sans-serif;
  font-size: 11px;
  line-height: 1.9;
}
section{
  text-align: left;
  margin: 22px;
}

.hz-blue-heading{
  background-color: #0B1942;
  color: #FFF;
  height: 35px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
section:nth-child(3){
  margin: 0;
}
.big-blue-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  background: #0B1942;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 28px;
}

.white-box{
  background-color: #E2E2E2;
  width: 100%;
  margin: 15px;
  flex: 1 1 100%;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.rashomom{
  z-index: 2;
  margin: 15px;
  /*background-image: url('../images/rashomon-poster.jpg');*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  flex: 1 1 48%;
}
.film-info{
  /*z-index: 2;*/
  color: #00B7D3;
  flex: 1 1 48%;
}

h4{
}
#disc{
  list-style: circle;
  color: #0B1942;
  background-color: inherit;
  /*height: 38px;*/
  /*width: 100vw;*/
  text-align: inherit;
}

.upcoming-films{
  background-color: #E2E2E2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px;
  color: #000;
}

.pic{
  flex: 1 1 48%;


  /*height: 199px;*/
}

section:nth-of-type(3){
  margin: 0;
}

footer{
  background-color: #7DDFE8;
  color: #FFF;
  text-align: center;
  height: 70px;
  text-align: center;
}

footer>p{
    margin: 0;
    font-size: 18px;
    line-height: 70px;
}
